/* 重置浏览器默认样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif; /* 设置字体 */
    background-color: #FFFFFF; /* 背景颜色 */
    overflow: hidden; /* 防止滚动条出现 */
}

/* 背景样式 */
.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #B3B3B3;
    z-index: -1; /* 确保背景在其他内容后面 */
}


.feature-container h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

/* 按钮样式 */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #2099FF;
    color: white;
    border-radius: 20px; /* 圆角 */
    text-decoration: none;
    font-size: 40px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background-color: #0e7bea;
}

/* 导航栏样式 */
.nav-bar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #FFFFFF;
    z-index: 1000;
}

.nav-bar a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.nav-bar a:hover {
    background-color: #FFFFFF;
}
.ad-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background-color: #8DE9FF;
    border-radius: 50%; /* 圆形 */
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease; /* 平滑的变换效果 */
}
#count {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    border-radius: 10%; /* 圆角为容器宽度的10% */
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: right;
    z-index: 1;
}
.balance {
  font-size: 20px;
  font-weight: bold;
  color: #BCBCBC;
  z-index: 1000;
  top: 3%;
  left: 2%;
  position: absolute;
}
.导航栏背景 {
  top: 91%;
  left: 11%;
  width: 280px;
  height: 48px;
  z-index: 0;
  background-color: #86D1FF;
  position: absolute;
  border-radius: 15px;
}